@model ex2.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<section class="post-content-section">
    <article class="blogPost">
        <header>
            <h2 class="post-title">@Html.DisplayFor(model => model.Title)</h2>
            <p>Posted on <time>@Html.DisplayFor(model => model.PublshDate)</time> by <a href="@Html.DisplayFor(model => model.AuthorWebPage)">@Html.DisplayFor(model => model.AuthorName)</a> - <a href="#comments">@Html.DisplayFor(model => model.Comments.Count) comments</a></p>
        </header>
        <div class="content">

            <p>@Html.DisplayFor(model => model.Content)</p>

            <br />


            @if (Model.ImageUrl != null && Model.ImageUrl != string.Empty)
            {
                <img src="~/Images/@Model.ImageUrl" alt="Pic" />
            }

            @if (Model.VideoUrl != null && Model.VideoUrl != string.Empty)
            {
                <video controls="controls">
                    <source src="~/Videos/@Model.VideoUrl" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            }

        </div>
    </article>
</section>