@{
    ViewBag.Title = "Index";
}

@model IEnumerable < ex2.Models.Post >

@if (Model.Count() <= 0)
{
    <section>
        There are no posts in the blog
    </section>
    return;
}

@foreach (var item in Model)
{
    <section>
        <article class="blogPost">
            <header>
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>Posted on <time>@Html.DisplayFor(modelItem => item.PublshDate)</time> by <a href="@Html.DisplayFor(modelItem => item.AuthorWebPage)">@Html.DisplayFor(modelItem => item.AuthorName)</a> - <a href="#comments">@Html.DisplayFor(modelItem => item.Comments.Count) comments</a></p>
            </header>
            <div>
                <p>@Html.DisplayFor(modelItem => item.Content)</p>

                @if (item.ImageUrl != null && item.ImageUrl != string.Empty){
                    <img src="images/@item.ImageUrl" alt="Pic" />
                }

                @if (item.VideoUrl != null && item.VideoUrl != string.Empty){
                    <video controls="controls">
                        <source src="videos/@item.VideoUrl" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                }
            </div>
        </article>
    </section>

    <section id="comments">
        <h3>Comments</h3>
        @if (item.Comments.Count <= 0){
            <p>There are no comments for this post.</p>
        }
        else{
            foreach (var comment in item.Comments){
                <article>
                    <header>
                        <a href="@Html.DisplayFor(Comments => comment.AuthorWebPage)">@Html.DisplayFor(Comments => comment.AuthorName)</a> on <time>@Html.DisplayFor(modelItem => comment.PublshDate)</time>
                    </header>
                    <p>@Html.DisplayFor(Comments => comment.Content)</p>
                </article>
            }
        }
    </section>
    using (Html.BeginForm("Create", "Comments", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h3>Post a comment</h3>
        <p>
            <input style="display:none" id="PostId" name="PostId" type="text" value="@item.ID">
        </p>
        <p>
            <label for="name">Title</label>
            <input id="Title" name="Title" type="text" value="">
        </p>
        <p>
            <label for="name">Name</label>
            <input name="AuthorName" id="AuthorName" type="text" />
        </p>
        <p>
            <label for="website">Website</label>
            <input name="AuthorWebPage" id="AuthorWebPage" type="url" />
        </p>
        <p>
            <label for="comment">Comment</label>
            <textarea name="Content" id="Content"></textarea>
        </p>
        <p><input type="submit" value="Post comment" /></p>
    }
}